html {
    background-color: #F2F2F2;
    width: 100%;
    height: 200px;
}

.wrapper {
    background-color: #2D4FA4;
    display: flex;
}

.adresse {
    margin-left: 50px;
    color: #ffffff;
}

#nom {
    margin-bottom: 15px;
}

#mail {
    margin-bottom: 15px;
}

#adresse {
    margin-bottom: 15px;
}

#cp {
    margin-bottom: 15px;
}

#ville {
    margin-bottom: 15px;
}

#client {
    margin-bottom: 15px;
}

#formjur {
    margin-bottom: 15px;
}

#siret {
    margin-bottom: 15px;
}

h2 {
    margin-left: 500px;
    color: #2D4FA4;
}

fieldset {
    margin-left: 50px;
}

h3 {
    margin-left: 500px;
    color: #2D4FA4;
}

#plume {
    margin-bottom: 15px;
}

#bille {
    margin-bottom: 15px;
}

#crayon {
    margin-bottom: 15px;
}

#gommes {
    margin-bottom: 15px;
}

.autre {
    margin-top: 25px;
}

.bd {
    margin-left: 50px;
}

.data {
    margin-left: 50px;
}

.create_devis {
    margin-left: 50px;
}

.le {
    display: flex;
}

.image {
    display: flex;
    margin-left: 250px;
    margin-top: 35px;
}


.ligne_client {
    display: flex;
    flex-direction: column;
}


.Numeros_devis {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.articles {
    display: flex;
    flex-direction: column;
    margin: auto;

}

.dev {
    display: flex;
    flex-direction: column;
}

.bouton {
    margin-left: 500px;
    background-color: #2D4FA4;
    color: #ffffff;
    border-radius: 10%;
    width: 259px;
    height: 65px;
    left: 1020px;
    top: 990px;
    font-size: 24px;
    margin-top: 50px;
}

table {
    border: medium solid #2D4FA4;
    margin: auto;

}

.tab2 {
    margin-left: 850px;

}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

.ligne {
    margin-left: 50px;
    color: #ffffff;
}

.devis {
    margin-left: 650px;
}

footer {
    margin-left: 50px;
}


.btn_deco {
    margin-left: 350px;
    margin-top: 110px;
}